.staticRating {
  color: orange;
  font-size: 4rem;
}

#novFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer {
  margin-top: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

#commentFormContainer {
  margin-top: 50px;
  margin-bottom: 50px;
}